<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XFactoryNET.Custom.GIMA.Module.Properties.Settings.XFactoryNETConnectionString"
            connectionString="Data Source=cb-srv-prod;Initial Catalog=XFactoryNET;Persist Security Info=True;User ID=sa;Password=cris"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>