/****** Object:  View [dbo].[QFormuleArticoli]    Script Date: 08/04/2014 11:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QFormuleArticoli] AS SELECT RTRIM(Articolo) AS Articolo, RTRIM(Formula) AS Formula FROM [CB-SRV-PROD].DB2Link.dbo.QFormuleArticoli AS FormuleArticoli
GO
/****** Object:  View [dbo].[QFormula]    Script Date: 08/04/2014 11:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QFormula]
AS
SELECT     RTRIM(Codice) AS Codice, RTRIM(Descrizione) AS Descrizione, RTRIM(Note) AS Note, TipoFormula, Classe
FROM         [CB-SRV-PROD].DB2Link.dbo.QFormula AS Formula
GO
/****** Object:  View [dbo].[QDettaglioAllegato]    Script Date: 08/04/2014 11:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QDettaglioAllegato] AS SELECT     RTRIM(Allegato) AS Allegato, TipoVariazione, Segno, RTRIM(Articolo) AS Articolo, Percentuale FROM [CB-SRV-PROD].DB2Link.dbo.QDettaglioAllegato AS DettaglioAllegato
GO
/****** Object:  View [dbo].[QComponente]    Script Date: 08/04/2014 11:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QComponente] AS SELECT     RTRIM(Formula) AS Formula,Versione, RTRIM(Articolo) AS Articolo, Percentuale, Tolleranza, RTRIM(Modalità) AS Modalità FROM [CB-SRV-PROD].DB2Link.dbo.QComponente AS Componente
GO
/****** Object:  View [dbo].[QArticolo]    Script Date: 08/04/2014 11:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QArticolo] AS SELECT     RTRIM(Codice) AS Codice, RTRIM(Descrizione) AS Descrizione FROM [CB-SRV-PROD].DB2Link.dbo.QArticolo AS Articolo
GO
/****** Object:  View [dbo].[QAllegato]    Script Date: 08/04/2014 11:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QAllegato] AS SELECT     RTRIM(Allegato) AS Allegato, TipoVariazione FROM [CB-SRV-PROD].DB2Link.dbo.QAllegato AS Allegati
GO
