/****** Object:  View [dbo].[QFormuleArticoli]    Script Date: 08/02/2014 12:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QFormuleArticoli]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QFormuleArticoli]
AS
SELECT     RTRIM(cdpro) AS Articolo, RTRIM(cdfor) AS Formula
FROM         GIMA.S06E275P.GIM_FILE.PRART00F AS ARTICOLI
WHERE     (cdpro <> cdfor)
UNION
SELECT     RTRIM(CDMAT) AS Articolo, RTRIM(CDALL) AS Formula
FROM         GIMA.S06E275P.GIM_FILE.PRALL00F AS SOSTITUZIONI
WHERE     (SOSTITUZIONI.TPVAR = ''S'')
'
GO
/****** Object:  View [dbo].[QArticolo]    Script Date: 08/02/2014 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QArticolo]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QArticolo]
AS
SELECT     RTRIM(cdpro) AS Codice, RTRIM(dspar) AS Descrizione
FROM         GIMA.S06E275P.GIM_FILE.PRART00F AS ARTICOLI
'
GO
/****** Object:  View [dbo].[QFormula]    Script Date: 08/02/2014 12:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QFormula]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QFormula]
AS
SELECT     RTRIM(ARTICOLI.cdfor) AS Codice, RTRIM(dspar) AS Descrizione, RTRIM(notea) AS Note, ''P'' AS TipoFormula, '''' AS Classe
FROM         GIMA.S06E275P.GIM_FILE.PRART00F AS ARTICOLI
WHERE     (CDFOR <> CDPRO)
UNION
SELECT     RTRIM(CDALL), { fn CONCAT(''Sostituzione '', CDMAT) } AS Expr1, '''' AS Expr2, ''S'' AS TipoFormula, Classe = CASE (SUBSTRING(CDALL, 2, 1)) 
                      WHEN ''S'' THEN ''SUINI'' WHEN ''B'' THEN ''BOVINI'' ELSE '''' END
FROM         GIMA.S06E275P.GIM_FILE.PRALL00F AS ALLEGATI
WHERE     (ALLEGATI.TPVAR = ''S'')
'
GO
/****** Object:  View [dbo].[QComponente]    Script Date: 08/02/2014 12:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QComponente]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QComponente]
AS
SELECT     RTRIM(CDFOR) AS Formula, NRVER AS Versione, RTRIM(CDMAT) AS Articolo, (COEFI * 100 + COEFD) / 100 AS Percentuale, (TOLLI * 100 + TOLLD) / 100 AS Tolleranza, 
                      RTRIM(MDDOS) AS Modalità
FROM         GIMA.S06E275P.GIM_FILE.PRFOR00F AS FORMULE
UNION
SELECT     RTRIM(CDALL) , NULL AS Versione, RTRIM(cdsos), CAST(COEFF AS decimal) / 1000 AS Expr1, 0 AS Tolleranza, NULL AS Modalità
FROM         GIMA.S06E275P.GIM_FILE.PRALL00F AS SOSTITUZIONI
WHERE     (TPVAR = ''S'')
'
GO
/****** Object:  View [dbo].[QDettaglioAllegato]    Script Date: 08/02/2014 12:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QDettaglioAllegato]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QDettaglioAllegato]
AS
SELECT     RTRIM(CDALL) AS Allegato, RTRIM(TPVAR) AS TipoVariazione, SEGNO, RTRIM(CDMAT) AS Articolo, CAST(COEFF AS decimal) / 1000 AS Percentuale
FROM         GIMA.S06E275P.GIM_FILE.PRALL00F AS PRALL00F_1
WHERE     (TPVAR <> ''S'')
'
GO
/****** Object:  View [dbo].[QAllegato]    Script Date: 08/02/2014 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QAllegato]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QAllegato]
AS
SELECT     TOP (100) PERCENT RTRIM(Allegato) AS Expr1, TipoVariazione
FROM         dbo.QDettaglioAllegato
GROUP BY Allegato, TipoVariazione
ORDER BY Allegato
'
GO
