USE [XFactoryNET]
GO
/****** Object:  StoredProcedure [dbo].[ImportaGiacenze]    Script Date: 11/02/2014 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[ImportaGiacenze] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


    -- Insert statements for procedure here
	UPDATE Silos SET Lotto = null,Quantità=0
	DELETE FROM LottoLotti_AllegatoAllegati;
	DELETE FROM Lotto;
	DECLARE @Today date;
	set @Today = GETDATE();
	
	INSERT INTO Lotto (Articolo,Silos,Quantità,DataInizio) SELECT CASE WHEN T.IdArticolo IS NULL THEN T.IDMateriale ELSE T.IdArticolo END,'S'+CONVERT(varchar,T.Name),T.Qtà,@today FROM  [OLDSQL].[EasyDB].dbo.T_Silos AS T INNER JOIN Articolo ON CASE WHEN T.IdArticolo IS NULL THEN T.IDMateriale ELSE T.IdArticolo END = Articolo.Codice
	UPDATE Silos SET Lotto=Lotto.OID, Quantità=Lotto.Quantità FROM Silos INNER JOIN Lotto ON Lotto.Silos = Silos.Codice;
	
	declare @magmp nvarchar(100);
	declare @magpf nvarchar(100);
	set @magmp = (SELECT Codice FROM Magazzino WHERE Codice = @magmp)
	DECLARE @ObjectType int;
	IF (@magmp is null)
	BEGIN
		SET @magmp = 'MAGMP';
		IF NOT EXISTS (SELECT Codice FROM Magazzino WHERE Codice = @magmp)
		BEGIN
			INSERT INTO Magazzino (Codice,Descrizione) values (@magmp,'Magazzino Materie Prime');
		END
	END		

	set @magpf = (SELECT Codice FROM Magazzino WHERE Codice = @magpf)
	IF (@magpf is null)
	BEGIN
		SET @magpf = 'MAGPF';
		IF NOT EXISTS (SELECT Codice FROM Magazzino WHERE Codice = @magpf)
		BEGIN
			INSERT INTO Magazzino (Codice,Descrizione) values (@magpf,'Magazzino Prodotti Finiti');
		END
	END		

	
	INSERT INTO Lotto (Articolo,Magazzino,Quantità,DataInizio) SELECT T.IDMateriale,(CASE IDMaga WHEN 1 THEN @magmp ELSE @magpf END),T.Qtà,@Today FROM  [OLDSQL].[EasyDB].dbo.T_GiacenzeSacchi AS T INNER JOIN Articolo ON T.IDMateriale = Articolo.Codice
	INSERT INTO GiacenzaSacchi (Articolo,Magazzino,Quantità) SELECT  Articolo, Magazzino, SUM(Quantità) AS Expr1
		FROM         Lotto
		WHERE Articolo IS NOT NULL AND Magazzino IS NOT NULL
		GROUP BY Articolo, Magazzino


END

