USE [XFactoryNET]
GO
/****** Object:  StoredProcedure [dbo].[ImportaFormula]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaFormula]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaFormula] 
	-- Add the parameters for the stored procedure here
	@Codice nvarchar(100) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

BEGIN TRY
	BEGIN TRANSACTION
	    
    DECLARE @Exists nvarchar(100);
    SET @Exists = (SELECT Codice FROM Formula WHERE Codice = @Codice);
    IF (@Exists IS NULL)
		INSERT INTO Formula(Codice) VALUES(@Codice);
	
	UPDATE Formula SET 
		Descrizione = ''Formula '' + Formula.Codice,
		Lavorazione=''Dosaggio'',
		ClasseMateriali=BaseArticolo.Codice,
		TipoFormula = (CASE TBFormula.TipoFormula WHEN ''S'' THEN 1 ELSE 0 END)
		FROM ((Formula INNER JOIN TBFormula ON Formula.Codice = TBFormula.Codice) LEFT OUTER JOIN BaseArticolo ON TBFormula.Classe = BaseArticolo.Codice)
		WHERE Formula.Codice = @Codice;
	
	DELETE FROM Componente WHERE FormulaIngredienti = @Codice;
	
	DECLARE @Articolo nvarchar(100);
	DECLARE @Modalità nvarchar(100);
	DECLARE @Percentuale decimal;
	DECLARE @Tolleranza decimal;
	DECLARE @Versione int;
	
	DECLARE cur CURSOR LOCAL FOR SELECT TBComponente.Articolo,TBComponente.Modalità,TBComponente.Percentuale,TBComponente.Tolleranza,TBComponente.Versione FROM TBComponente WHERE TBComponente.Formula = @Codice;
	
	OPEN cur
	
	FETCH NEXT FROM cur INTO @Articolo,@Modalità,@Percentuale,@Tolleranza,@Versione
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @Articolo= (SELECT Codice FROM Articolo WHERE Codice = @Articolo);
		IF (@Articolo IS NULL)
		BEGIN
			ROLLBACK TRANSACTION;
			RETURN;
		END		
		SET @Modalità = (SELECT Modalità.Codice FROM Modalità WHERE Codice = @Modalità);
		INSERT INTO Componente(FormulaIngredienti,Articolo,Modalità,Percentuale,Tolleranza) VALUES (@Codice,@Articolo,@Modalità,CAST(@Percentuale as float),CAST(@Tolleranza as float));
		FETCH NEXT FROM cur INTO @Articolo,@Modalità,@Percentuale,@Tolleranza,@Versione
	END

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();

    -- Use RAISERROR inside the CATCH block to return error
    -- information about the original error that caused
    -- execution to jump to the CATCH block.
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
               );
	IF (@@TRANCOUNT > 0)
		ROLLBACK TRANSACTION;
END CATCH
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaFormule]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaFormule]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaFormule] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE cur CURSOR LOCAL FOR SELECT TBFormula.Codice FROM TBFormula;
	DECLARE @Formula nvarchar(100);
	
	OPEN cur;
	FETCH NEXT FROM cur INTO @Formula;
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		EXEC ImportaFormula @Formula;
		FETCH NEXT FROM cur INTO @Formula;
	END
	CLOSE cur;
	DEALLOCATE cur;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaArticolo]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaArticolo]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaArticolo] 
	-- Add the parameters for the stored procedure here
	@Codice nvarchar(100) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    DECLARE @ObjectType int;
    SET @ObjectType = (SELECT XPObjectType.OID FROM XPObjectType WHERE XPObjectType.TypeName = ''XFactoryNET.Module.BusinessObjects.Articolo'');
    IF (@ObjectType IS NULL) 
    BEGIN
		INSERT INTO XPObjectType (AssemblyName,TypeName) VALUES(''XFactoryNET.Module'',''XFactoryNET.Module.BusinessObjects.Articolo'')
		SET @ObjectType = @@IDENTITY;
    END
    DECLARE @Exists nvarchar(100);
    SET @Exists = (SELECT BaseArticolo.Codice FROM BaseArticolo WHERE BaseArticolo.Codice = @Codice);
    IF (@Exists IS NULL)
    BEGIN
	    INSERT INTO BaseArticolo (Codice,Descrizione,ObjectType) SELECT Codice,Descrizione,@ObjectType FROM TBArticolo WHERE (TBArticolo.Codice = @Codice);
		INSERT INTO Articolo (Codice,Note,TipoMateriale) SELECT Codice,Note,0 FROM TBArticolo WHERE TBArticolo.Codice = @Codice;
	END	
	ELSE
	BEGIN
	    UPDATE BaseArticolo SET Descrizione=TBArticolo.Descrizione FROM BaseArticolo INNER JOIN TBArticolo ON TBArticolo.Codice = @Codice WHERE BaseArticolo.Codice = @Codice;
	    UPDATE Articolo SET Note=TBArticolo.Note,TipoMateriale=0 FROM Articolo INNER JOIN TBArticolo ON TBArticolo.Codice = @Codice WHERE Articolo.Codice = @Codice;
	END
	

	DECLARE @Formula nvarchar(100);
	DECLARE @TipoFormula char;
	DECLARE @Oid int;
	
	DECLARE curs CURSOR LOCAL FOR (SELECT T1.Formula,T2.TipoFormula FROM TBFormuleArticoli T1 INNER JOIN TBFormula T2 ON Formula=Codice WHERE T1.Formula<>''999999'' AND  T1.Articolo = @Codice);
	
	OPEN curs;
	
	FETCH NEXT FROM curs INTO @Formula,@TipoFormula
	WHILE @@FETCH_STATUS = 0
	BEGIN
		EXEC dbo.ImportaFormula @Formula;
		SET @Formula = (SELECT Formula.Codice FROM Formula WHERE Codice=@Formula);
		IF (@Formula IS NOT NULL)
		BEGIN
			SET @Oid = (SELECT oid FROM FormulaFormule_ArticoloArticoli as F WHERE F.Articoli = @Codice AND F.Formule = @Formula);
			IF (@Oid IS NULL)
				INSERT INTO FormulaFormule_ArticoloArticoli (Articoli,Formule) VALUES(@Codice,@Formula);
			IF (@TipoFormula = ''P'')
				UPDATE Articolo SET TipoMateriale = 2 WHERE Codice = @Codice	--Prodotto Finito
		END
		FETCH NEXT FROM curs INTO @Formula, @TipoFormula
	END
	CLOSE curs;
	DEALLOCATE curs;
	
		
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaArticoli]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaArticoli]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaArticoli] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE cur CURSOR LOCAL FOR SELECT TBArticolo.Codice FROM TBArticolo;
	DECLARE @Articolo nvarchar(100);
	
	OPEN cur;
	FETCH NEXT FROM cur INTO @Articolo;
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		EXEC ImportaArticolo @Articolo;
		FETCH NEXT FROM cur INTO @Articolo;
	END
	CLOSE cur;
	DEALLOCATE cur;
END
' 
END
GO
/****** Object:  View [dbo].[QOrdini]    Script Date: 09/08/2014 17:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[QOrdini]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QOrdini]
AS
SELECT     NRPRO, IDMAT, QTMAT, CEFAR, CEPEL, NOPRO, CDCLI, RASCL, NRORD, DTORD, DTCAR, CDAUT, NOAUT, NRCAR, CDVEN, TPCON, PESSA, ASPET, IDVAR
FROM         DB2GIMA.S06E275P.GIM_FILE.PRDIS00F AS DISTINTA
'
GO
/****** Object:  View [dbo].[QFormuleArticoli]    Script Date: 09/08/2014 17:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[QFormuleArticoli]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QFormuleArticoli]
AS
SELECT     RTRIM(cdpro) AS Articolo, RTRIM(cdfor) AS Formula
FROM         DB2GIMA.S06E275P.GIM_FILE.PRARTR0F AS ARTICOLI
WHERE     (cdpro <> cdfor)
UNION
SELECT     RTRIM(CDMAT) AS Articolo, RTRIM(CDALL) AS Formula
FROM         DB2GIMA.S06E275P.GIM_FILE.PRALL00F AS SOSTITUZIONI
WHERE     (SOSTITUZIONI.TPVAR = ''S'')
'
GO
/****** Object:  View [dbo].[QFormula]    Script Date: 09/08/2014 17:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[QFormula]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QFormula]
AS
SELECT DISTINCT RTRIM(ARTICOLI.cdfor) AS Codice, ''P'' AS TipoFormula, '''' AS Classe
FROM         DB2GIMA.S06E275P.GIM_FILE.PRART00F AS ARTICOLI
WHERE     (CDFOR <> CDPRO)
UNION
SELECT DISTINCT RTRIM(CDALL), ''S'' AS TipoFormula, Classe = CASE (SUBSTRING(CDALL, 2, 1)) WHEN ''S'' THEN ''SUINI'' WHEN ''B'' THEN ''BOVINI'' ELSE '''' END
FROM         DB2GIMA.S06E275P.GIM_FILE.PRALL00F AS ALLEGATI
WHERE     (ALLEGATI.TPVAR = ''S'')
'
GO
/****** Object:  View [dbo].[QDettaglioAllegato]    Script Date: 09/08/2014 17:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[QDettaglioAllegato]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QDettaglioAllegato]
AS
SELECT     RTRIM(CDALL) AS Allegato, RTRIM(TPVAR) AS TipoVariazione, SEGNO AS Segno, RTRIM(CDMAT) AS Articolo, CAST(COEFF AS decimal) / 1000 AS Percentuale
FROM         DB2GIMA.S06E275P.GIM_FILE.PRALL00F AS PRALL00F_1
WHERE     (TPVAR <> ''S'')
'
GO
/****** Object:  View [dbo].[QComponente]    Script Date: 09/08/2014 17:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[QComponente]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QComponente]
AS
SELECT     RTRIM(CDFOR) AS Formula, NRVER AS Versione, RTRIM(CDMAT) AS Articolo, (COEFI * 100 + COEFD) / 100 AS Percentuale, (TOLLI * 100 + TOLLD) / 100 AS Tolleranza, 
                      RTRIM(MDDOS) AS Modalità
FROM         DB2GIMA.S06E275P.GIM_FILE.PRFOR00F AS FORMULE
UNION
SELECT     RTRIM(CDALL), NULL AS Versione, RTRIM(cdsos), CAST(COEFF AS decimal) / 1000 AS Expr1, 0 AS Tolleranza, NULL AS Modalità
FROM         DB2GIMA.S06E275P.GIM_FILE.PRALL00F AS SOSTITUZIONI
WHERE     (TPVAR = ''S'');
'
GO
/****** Object:  View [dbo].[QArticolo]    Script Date: 09/08/2014 17:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[QArticolo]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QArticolo]
AS
SELECT     RTRIM(cdpro) AS Codice, RTRIM(dspar) AS Descrizione, RTRIM(notea) AS Note
FROM         DB2GIMA.S06E275P.GIM_FILE.PRARTR0F AS ARTICOLI
'
GO
/****** Object:  StoredProcedure [dbo].[ArchiviaProduzione]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ArchiviaProduzione]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ArchiviaProduzione] 
	-- Add the parameters for the stored procedure here
	@Lavorazione nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Odl SET Stato =  -2 WHERE Lavorazione = @Lavorazione AND Stato = -1;
	UPDATE Lavorazione SET NArch = NArch+1,NOrd = 0 WHERE Codice = @Lavorazione
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaSilos]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaSilos]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'
-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaSilos] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    DECLARE @ObjectType int;
    SET @ObjectType = (SELECT XPObjectType.OID FROM XPObjectType WHERE XPObjectType.TypeName = ''XFactoryNET.Module.BusinessObjects.Silos'');
	IF (@ObjectType IS NULL) 
    BEGIN
		INSERT INTO XPObjectType (AssemblyName,TypeName) VALUES(''XFactoryNET.Module'',''XFactoryNET.Module.BusinessObjects.Silos'')
		SET @ObjectType = @@IDENTITY;
    END
	UPDATE Lotto SET Lotto.Apparato = NULL WHERE Lotto.Apparato IN (SELECT Codice FROM Silos);
	UPDATE Lotto SET AreaStoccaggio = NULL WHERE AreaStoccaggio IN (SELECT Codice FROM Silos);
	DELETE FROM Percorso WHERE ApparatoFrom IN (SELECT Codice FROM Silos);
	DELETE FROM Percorso WHERE ApparatoTo IN (SELECT Codice FROM Silos);

    DELETE FROM GruppoGruppi_ApparatoApparati;
    DELETE FROM Gruppo;
	
	DELETE FROM Silos;
	DELETE FROM Apparato WHERE Apparato.Codice IN (SELECT Codice FROM AreaStoccaggio WHERE ObjectType = @ObjectType);
    DELETE FROM AreaStoccaggio where ObjectType = @ObjectType;
    
    insert into AreaStoccaggio (Codice,Descrizione,CaricoAbilitato,ScaricoAbilitato,ObjectType) select ''S''+CONVERT(varchar,Name),''Silos '' + CONVERT(varchar,Name),1,1,@ObjectType FROM EasyDB.dbo.T_Silos as T
    Insert into Apparato (Codice,Numero) SELECT ''S''+CONVERT(varchar,Name),CONVERT(varchar,Name) FROM EasyDB.dbo.T_Silos as T
    Insert into Silos (Codice,Capacità) SELECT ''S''+CONVERT(varchar,Name),T.Capacità FROM EasyDB.dbo.T_Silos as T
    
   
    INSERT INTO Gruppo (Descrizione) SELECT t.Descrizione FROM EasyDB.dbo.T_Destinazioni as T
	INSERT INTO GruppoGruppi_ApparatoApparati(Apparati,Gruppi) SELECT ''S''+CONVERT(varchar,Name),G.OID FROM EasyDB.dbo.T_Silos AS T INNER JOIN EasyDB.dbo.T_Destinazioni AS D ON T.IdDest = D.IdDest INNER JOIN Gruppo as G ON G.Descrizione = D.Descrizione;

	DECLARE @MIX nvarchar;
	SET @MIX = (SELECT TOP 1 Codice FROM Mixer GROUP BY Codice);
	IF (@MIX IS NULL)
	BEGIN
		SET @MIX = ''MIX1'';
		DECLARE @ObjectTypeMix int;
		SET @ObjectTypeMix = (SELECT XPObjectType.OID FROM XPObjectType WHERE XPObjectType.TypeName = ''XFactoryNET.Module.BusinessObjects.Mixer'');
		IF (@ObjectTypeMix IS NULL) 
		BEGIN
			INSERT INTO XPObjectType (AssemblyName,TypeName) VALUES(''XFactoryNET.Module'',''XFactoryNET.Module.BusinessObjects.Mixer'')
			SET @ObjectTypeMix = @@IDENTITY;
		END
		INSERT INTO AreaStoccaggio (Codice,Descrizione,CaricoAbilitato,ScaricoAbilitato,ObjectType) VALUES (@MIX,''Miscelatore'',1,1,@ObjectTypeMix);
		INSERT INTO Apparato(Codice,Numero) VALUES(@MIX,1);
		INSERT INTO Mixer(Codice) VALUES(@MIX);
	END
	INSERT INTO Percorso(ApparatoFrom,ApparatoTo,Abilitato) SELECT @MIX, ''S''+CONVERT(varchar,S.Name),1 FROM EasyDB.dbo.T_DestinazioniLavorazioni AS T INNER JOIN EasyDB.dbo.T_Silos AS S ON S.IdDest = T.IdDest WHERE T.IdLav=''DOSAGGIO'';
	
	INSERT INTO Percorso(ApparatoFrom,ApparatoTo,Abilitato) SELECT ''S''+CONVERT(varchar,S.IdSilos),RTRIM(S.IdApparato),1 from EasyDB.dbo.T_SilosRifornisce as S INNER JOIN AreaStoccaggio ON S.IdApparato = AreaStoccaggio.Codice

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaBilance]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaBilance]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'
-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaBilance] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	    DECLARE @ObjectType int;
    SET @ObjectType = (SELECT XPObjectType.OID FROM XPObjectType WHERE XPObjectType.TypeName = ''XFactoryNET.Module.BusinessObjects.Bilancia'');
	IF (@ObjectType IS NULL) 
    BEGIN
		INSERT INTO XPObjectType (AssemblyName,TypeName) VALUES(''XFactoryNET.Module'',''XFactoryNET.Module.BusinessObjects.Bilancia'')
		SET @ObjectType = @@IDENTITY;
    END

	UPDATE Lotto SET Lotto.Apparato = NULL WHERE Lotto.Apparato IN (SELECT Codice FROM Bilancia);
	UPDATE Percorso SET ApparatoFrom = NULL WHERE ApparatoFrom IN (SELECT Codice FROM Bilancia);
	UPDATE Percorso SET ApparatoTo = NULL WHERE ApparatoTo IN (SELECT Codice FROM Bilancia);
	
	DELETE FROM Bilancia;
	DELETE FROM Apparato WHERE Apparato.Codice IN (SELECT Codice FROM AreaStoccaggio WHERE ObjectType = @ObjectType);
    delete from AreaStoccaggio where ObjectType = @ObjectType;

    insert into AreaStoccaggio (Codice,Descrizione,CaricoAbilitato,ScaricoAbilitato,ObjectType) select Name,''Bilancia '' + cast(Name as varchar),1,1,@ObjectType FROM EasyDB.dbo.T_Bilance as T
    Insert into Apparato (Codice,Numero) SELECT T.Name,CONVERT(int,SUBSTRING(T.Name,2,1)) FROM EasyDB.dbo.T_Bilance as T
	INSERT INTO Bilancia (Codice,FondoScala,kMult) SELECT Name,T.FondoScala,t.KCorr FROM EasyDB.dbo.T_Bilance AS T;

END

' 
END
GO
/****** Object:  View [dbo].[QAllegato]    Script Date: 09/08/2014 17:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[QAllegato]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QAllegato]
AS
SELECT     RTRIM(Allegato) AS Allegato, TipoVariazione
FROM         dbo.QDettaglioAllegato
GROUP BY Allegato, TipoVariazione
'
GO
/****** Object:  StoredProcedure [dbo].[ImportaTabelle]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaTabelle]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaTabelle] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    DELETE FROM TBArticolo;
    INSERT INTO TBArticolo (Codice,Descrizione,Note)
    SELECT Codice,Descrizione, Note FROM QArticolo;
    
    DELETE FROM TBComponente;
    INSERT INTO TBComponente (Formula,Versione,Articolo,Percentuale,Tolleranza,Modalità)
    SELECT     Formula, Versione, Articolo, Percentuale, Tolleranza, Modalità
	FROM         QComponente
	
	DELETE FROM TBDettaglioAllegato;
	INSERT INTO TBDettaglioAllegato (Allegato,TipoVariazione,Segno,Articolo,Percentuale)
	SELECT     Allegato, TipoVariazione, Segno, Articolo, Percentuale
	FROM QDettaglioAllegato;

	DELETE FROM TBFormula;
	INSERT INTO TBFormula (Codice,TipoFormula,Classe)
	SELECT    Codice,   TipoFormula, Classe
	FROM         QFormula;

	DELETE FROM TBFormuleArticoli;
	INSERT INTO TBFormuleArticoli (Articolo,Formula)
	SELECT     Articolo, Formula
	FROM         QFormuleArticoli;
	
	DELETE FROM TBAllegato;
    INSERT INTO TBAllegato (Codice,TipoVariazione)
    SELECT     Allegato, TipoVariazione
	FROM         dbo.QDettaglioAllegato
	GROUP BY Allegato, TipoVariazione

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaGiacenze]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaGiacenze]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'
-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaGiacenze] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	UPDATE Apparato SET Lotto = NULL;
	DELETE FROM Componente WHERE Componente.Lotto IN (SELECT OID FROM Lotto);
	DELETE FROM LottoLotti_AllegatoAllegati;
	DELETE FROM Lotto;
	DECLARE @Today date;
	set @Today = GETDATE();
	
	INSERT INTO Lotto (Articolo,Apparato,AreaStoccaggio,Quantità,Data) SELECT CASE WHEN T.IdArticolo IS NULL THEN T.IDMateriale ELSE T.IdArticolo END,''S''+CONVERT(varchar,T.Name),''S''+CONVERT(varchar,T.Name),T.Qtà,@today FROM EasyDB.dbo.T_Silos AS T INNER JOIN Articolo ON CASE WHEN T.IdArticolo IS NULL THEN T.IDMateriale ELSE T.IdArticolo END = Articolo.Codice
	UPDATE Apparato SET Lotto = Lotto.OID FROM Apparato INNER JOIN Lotto ON Apparato.Codice = Lotto.Apparato;
	
	declare @magmp nvarchar(100);
	declare @magpf nvarchar(100);
	set @magmp = (SELECT Codice FROM Magazzino WHERE Codice = @magmp)
	DECLARE @ObjectType int;
	IF (@magmp is null)
	BEGIN
		SET @magmp = ''MAGMP'';
		IF NOT EXISTS (SELECT Codice FROM Magazzino WHERE Codice = @magmp)
		BEGIN
			SET @ObjectType = (SELECT XPObjectType.OID FROM XPObjectType WHERE XPObjectType.TypeName = ''XFactoryNET.Module.BusinessObjects.Magazzino'');
			IF (@ObjectType IS NULL) 
			BEGIN
				INSERT INTO XPObjectType (AssemblyName,TypeName) VALUES(''XFactoryNET.Module'',''XFactoryNET.Module.BusinessObjects.Magazzino'')
				SET @ObjectType = @@IDENTITY;
			END
			INSERT INTO AreaStoccaggio (Codice,Descrizione,CaricoAbilitato,ScaricoAbilitato,ObjectType) values (@magmp,''Magazzino Materie Prime'',1,1,@objectType);
			INSERT INTO Magazzino (Codice) VALUES (@magmp)
		END
	END		

	set @magpf = (SELECT Codice FROM Magazzino WHERE Codice = @magpf)
	IF (@magpf is null)
	BEGIN
		SET @magpf = ''MAGPF'';
		IF NOT EXISTS (SELECT Codice FROM Magazzino WHERE Codice = @magmp)
		BEGIN
			SET @ObjectType = (SELECT XPObjectType.OID FROM XPObjectType WHERE XPObjectType.TypeName = ''XFactoryNET.Module.BusinessObjects.Magazzino'');
			IF (@ObjectType IS NULL) 
			BEGIN
				INSERT INTO XPObjectType (AssemblyName,TypeName) VALUES(''XFactoryNET.Module'',''XFactoryNET.Module.BusinessObjects.Magazzino'')
				SET @ObjectType = @@IDENTITY;
			END
			INSERT INTO AreaStoccaggio (Codice,Descrizione,CaricoAbilitato,ScaricoAbilitato,ObjectType) values (@magpf,''Magazzino Prodotti Finiti'',1,1,@objectType);
			INSERT INTO Magazzino (Codice) VALUES (@magpf)
		END
	END		

	
	INSERT INTO Lotto (Articolo,Magazzino,Quantità) SELECT T.IDMateriale,(CASE IDMaga WHEN 1 THEN @magmp ELSE @magpf END),T.Qtà FROM EasyDB.dbo.T_GiacenzeSacchi AS T INNER JOIN Articolo ON T.IDMateriale = Articolo.Codice
	
END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaAllegato]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaAllegato]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaAllegato] 
	-- Add the parameters for the stored procedure here
	@Codice nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	    DECLARE @Exists nvarchar(100);
    SET @Exists = (SELECT Allegato.CodiceAllegato FROM Allegato WHERE Allegato.CodiceAllegato = @Codice);
    IF (@Exists IS NULL)
		INSERT INTO Allegato (CodiceAllegato) VALUES (@Codice)

	DELETE FROM DettaglioAllegato WHERE DettaglioAllegato.Allegato = @Codice;
	
	DECLARE @Articolo nvarchar(100);
	DECLARE @Percentuale money;
	DECLARE @Segno char;
	DECLARE @TipoVariazione char;
	DECLARE @Assoluta bit;
	DECLARE cur CURSOR FOR SELECT TBDettaglioAllegato.Articolo, TBDettaglioAllegato.Percentuale,TBDettaglioAllegato.Segno,TBDettaglioAllegato.TipoVariazione FROM TBDettaglioAllegato WHERE TBDettaglioAllegato.Allegato = @Codice;
	
	OPEN cur
	
	FETCH NEXT FROM cur INTO @Articolo,@Percentuale,@Segno,@TipoVariazione
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		IF (@Segno = ''-'')
			SET @Percentuale = -@Percentuale ;
		IF (@Segno = ''='')
			SET @Assoluta = 1;
		ELSE
			SET @Assoluta = 0;

		INSERT INTO DettaglioAllegato (Allegato,ArticoloIngrediente,Assoluta,Valore) VALUES (@Codice,@Articolo,@Assoluta,CAST(@Percentuale as float));

		FETCH NEXT FROM cur INTO @Articolo,@Percentuale,@Segno,@TipoVariazione
	END 	
	
	CLOSE cur
	DEALLOCATE cur
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaAllegati]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaAllegati]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaAllegati] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE cur CURSOR LOCAL FOR SELECT TBAllegato.Codice FROM TBAllegato;
	DECLARE @Allegato nvarchar(100);
	
	OPEN cur;
	FETCH NEXT FROM cur INTO @Allegato;
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		EXEC ImportaAllegato @Allegato;
		FETCH NEXT FROM cur INTO @Allegato;
	END
	CLOSE cur;
	DEALLOCATE cur;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaTutto]    Script Date: 09/08/2014 17:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ImportaTutto]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaTutto] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	EXEC dbo.ImportaTabelle;
	EXEC dbo.ImportaArticoli;
	EXEC dbo.ImportaFormule;
	EXEC dbo.ImportaAllegati;
END
' 
END
GO
