/****** Object:  Synonym [dbo].[PRORDINI]    Script Date: 10/10/2014 15:42:17 ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PRORDINI')
CREATE SYNONYM [dbo].[PRORDINI] FOR [DB2GIMA].[S06E275P].[GIM_FILE].[PRDIS00F]
GO
/****** Object:  Synonym [dbo].[PRMATERIALI]    Script Date: 10/10/2014 15:42:16 ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PRMATERIALI')
CREATE SYNONYM [dbo].[PRMATERIALI] FOR [DB2GIMA].[S06E275P].[GIM_FILE].[PRPRO00F]
GO
/****** Object:  Synonym [dbo].[PRFORMULE]    Script Date: 10/10/2014 15:42:16 ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PRFORMULE')
CREATE SYNONYM [dbo].[PRFORMULE] FOR [DB2GIMA].[S06E275P].[GIM_FILE].[PRFOR10F]
GO
/****** Object:  Synonym [dbo].[PRARTICOLI]    Script Date: 10/10/2014 15:42:16 ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PRARTICOLI')
CREATE SYNONYM [dbo].[PRARTICOLI] FOR [DB2GIMA].[S06E275P].[GIM_FILE].[PRARTR0F]
GO
/****** Object:  Synonym [dbo].[PRALLEGATI]    Script Date: 10/10/2014 15:42:16 ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PRALLEGATI')
CREATE SYNONYM [dbo].[PRALLEGATI] FOR [DB2GIMA].[S06E275P].[GIM_FILE].[PRALL00F]
GO
/****** Object:  View [dbo].[QOrdini]    Script Date: 10/26/2014 23:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QOrdini]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QOrdini]
AS
SELECT     NRPRO, IDMAT, QTMAT, CEFAR, CEPEL, NOPRO, CDCLI, RASCL, NRORD, DTORD, DTCAR, CDAUT, NOAUT, NRCAR, CDVEN, TPCON, PESSA, ASPET, IDVAR
FROM         PRORDINI
'
GO
/****** Object:  View [dbo].[QFormuleArticoli]    Script Date: 10/26/2014 23:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QFormuleArticoli]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QFormuleArticoli]
AS
SELECT     RTRIM(cdpro) AS Articolo, RTRIM(cdfor) AS Formula
FROM         PRARTICOLI
UNION
SELECT     RTRIM(CDMAT) AS Articolo, RTRIM(CDALL) AS Formula
FROM         PRALLEGATI
WHERE     (TPVAR = ''S'')
'
GO
/****** Object:  View [dbo].[QFormula]    Script Date: 10/26/2014 23:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QFormula]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QFormula]
AS
SELECT RTRIM(CDFOR) AS Codice, ''P'' AS TipoFormula, '''' AS Classe
FROM         PRFORMULE
GROUP by RTRIM(CDFOR)
UNION
SELECT DISTINCT 
                      RTRIM(CDALL), ''S'' AS TipoFormula, Classe = CASE (SUBSTRING(CDALL, 2, 1)) WHEN ''S'' THEN ''SUINI'' WHEN ''B'' THEN ''BOVINI'' ELSE '''' END
FROM         PRALLEGATI
WHERE     (TPVAR = ''S'')
'
GO
/****** Object:  View [dbo].[QDettaglioAllegato]    Script Date: 10/26/2014 23:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QDettaglioAllegato]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QDettaglioAllegato]
AS
SELECT     RTRIM(CDALL) AS Allegato, RTRIM(TPVAR) AS TipoVariazione, SEGNO AS Segno, RTRIM(CDMAT) AS Articolo, CAST(COEFF AS decimal) / 1000 AS Percentuale
FROM         PRALLEGATI
WHERE     (TPVAR <> ''S'')
'
GO
/****** Object:  View [dbo].[QComponente]    Script Date: 10/26/2014 23:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QComponente]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QComponente]
AS
SELECT     RTRIM(CDFOR) AS Formula, NRVER AS Versione, RTRIM(CDMAT) AS Articolo, (COEFI * 1000 + COEFD) / 1000 AS Percentuale, (TOLLI * 1000 + TOLLD) / 1000 AS Tolleranza, 
                      RTRIM(MDDOS) AS Modalità
FROM         PRFORMULE
UNION
SELECT     RTRIM(CDALL), NULL AS Versione, RTRIM(cdsos), CAST(COEFF AS decimal) / 1000 AS Expr1, 0 AS Tolleranza, NULL AS Modalità
FROM         PRALLEGATI
WHERE     (TPVAR = ''S'');
'
GO
/****** Object:  View [dbo].[QArticolo]    Script Date: 10/26/2014 23:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QArticolo]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QArticolo]
AS
SELECT     RTRIM(cdpro) AS Codice, RTRIM(dspar) AS Descrizione, RTRIM(notea) AS Note
FROM         dbo.PRARTICOLI
'
GO
/****** Object:  View [dbo].[QAllegato]    Script Date: 10/26/2014 23:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QAllegato]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[QAllegato]
AS
SELECT     RTRIM(Allegato) AS Allegato, TipoVariazione
FROM         dbo.QDettaglioAllegato
GROUP BY Allegato, TipoVariazione
'
GO
/****** Object:  StoredProcedure [dbo].[ImportaTabelle]    Script Date: 10/26/2014 23:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImportaTabelle]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaTabelle] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    DELETE FROM TBArticolo;
    INSERT INTO TBArticolo (Codice,Descrizione,Note)
    SELECT Codice,Descrizione, Note FROM QArticolo;
    
    DELETE FROM TBComponente;
    INSERT INTO TBComponente (Formula,Versione,Articolo,Percentuale,Tolleranza,Modalità)
    SELECT     Formula, Versione, Articolo, Percentuale, Tolleranza, Modalità
	FROM         QComponente
	
	DELETE FROM TBDettaglioAllegato;
	INSERT INTO TBDettaglioAllegato (Allegato,TipoVariazione,Segno,Articolo,Percentuale)
	SELECT     Allegato, TipoVariazione, Segno, Articolo, Percentuale
	FROM QDettaglioAllegato;

	DELETE FROM TBFormula;
	INSERT INTO TBFormula (Codice,TipoFormula,Classe)
	SELECT    Codice,   TipoFormula, Classe
	FROM         QFormula;

	DELETE FROM TBFormuleArticoli;
	INSERT INTO TBFormuleArticoli (Articolo,Formula)
	SELECT     Articolo, Formula
	FROM         QFormuleArticoli;
	
	DELETE FROM TBAllegato;
    INSERT INTO TBAllegato (Codice,TipoVariazione)
    SELECT     Allegato, TipoVariazione
	FROM         dbo.QDettaglioAllegato
	GROUP BY Allegato, TipoVariazione

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaAllegato]    Script Date: 10/26/2014 23:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImportaAllegato]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaAllegato] 
	-- Add the parameters for the stored procedure here
	@Codice nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	    DECLARE @Exists nvarchar(100);
    SET @Exists = (SELECT Allegato.CodiceAllegato FROM Allegato WHERE Allegato.CodiceAllegato = @Codice);
    IF (@Exists IS NULL)
		INSERT INTO Allegato (CodiceAllegato) VALUES (@Codice)

	DELETE FROM DettaglioAllegato WHERE DettaglioAllegato.Allegato = @Codice;
	
	DECLARE @Articolo nvarchar(100);
	DECLARE @Percentuale money;
	DECLARE @Segno char;
	DECLARE @TipoVariazione char;
	DECLARE @Assoluta bit;
	DECLARE cur CURSOR FOR SELECT TBDettaglioAllegato.Articolo, TBDettaglioAllegato.Percentuale,TBDettaglioAllegato.Segno,TBDettaglioAllegato.TipoVariazione FROM TBDettaglioAllegato WHERE TBDettaglioAllegato.Allegato = @Codice;
	
	OPEN cur
	
	FETCH NEXT FROM cur INTO @Articolo,@Percentuale,@Segno,@TipoVariazione
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		IF (@Segno = ''-'')
			SET @Percentuale = -@Percentuale ;
		IF (@Segno = ''='')
			SET @Assoluta = 1;
		ELSE
			SET @Assoluta = 0;

		INSERT INTO DettaglioAllegato (Allegato,ArticoloIngrediente,Assoluta,Valore) VALUES (@Codice,@Articolo,@Assoluta,CAST(@Percentuale as float));

		FETCH NEXT FROM cur INTO @Articolo,@Percentuale,@Segno,@TipoVariazione
	END 	
	
	CLOSE cur
	DEALLOCATE cur
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaAllegati]    Script Date: 10/26/2014 23:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImportaAllegati]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaAllegati] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE cur CURSOR LOCAL FOR SELECT TBAllegato.Codice FROM TBAllegato;
	DECLARE @Allegato nvarchar(100);
	
	OPEN cur;
	FETCH NEXT FROM cur INTO @Allegato;
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		EXEC ImportaAllegato @Allegato;
		FETCH NEXT FROM cur INTO @Allegato;
	END
	CLOSE cur;
	DEALLOCATE cur;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ArchiviaProduzione]    Script Date: 10/26/2014 23:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ArchiviaProduzione]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ArchiviaProduzione] 
	-- Add the parameters for the stored procedure here
	@Lavorazione nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Odl SET Stato =  -2 WHERE Lavorazione = @Lavorazione AND Stato = -1;
	UPDATE Lavorazione SET NArch = NArch+1,NOrd = 0 WHERE Codice = @Lavorazione
	
END
' 
END
GO

/****** Object:  StoredProcedure [dbo].[ImportaFormula]    Script Date: 10/26/2014 23:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImportaFormula]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaFormula] 
	-- Add the parameters for the stored procedure here
	@Codice nvarchar(100) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

BEGIN TRY
	BEGIN TRANSACTION
	    
    DECLARE @Exists nvarchar(100);
    SET @Exists = (SELECT Codice FROM Formula WHERE Codice = @Codice);
    IF (@Exists IS NULL)
		INSERT INTO Formula(Codice) VALUES(@Codice);
	
	UPDATE Formula SET 
		Descrizione = ''Formula '' + Formula.Codice,
		Lavorazione=''Dosaggio'',
		ClasseMateriali=BaseArticolo.Codice,
		TipoFormula = (CASE TBFormula.TipoFormula WHEN ''S'' THEN 1 ELSE 0 END)
		FROM ((Formula INNER JOIN TBFormula ON Formula.Codice = TBFormula.Codice) LEFT OUTER JOIN BaseArticolo ON TBFormula.Classe = BaseArticolo.Codice)
		WHERE Formula.Codice = @Codice;
	
	DELETE FROM Componente WHERE FormulaIngredienti = @Codice;
	
	DECLARE @Articolo nvarchar(100);
	DECLARE @Modalità nvarchar(100);
	DECLARE @Percentuale decimal(18,4);
	DECLARE @Tolleranza decimal(18,4);
	DECLARE @Versione int;
	
	DECLARE cur CURSOR LOCAL FOR SELECT TBComponente.Articolo,TBComponente.Modalità,TBComponente.Percentuale,TBComponente.Tolleranza,TBComponente.Versione FROM TBComponente WHERE TBComponente.Formula = @Codice;
	
	OPEN cur
	
	FETCH NEXT FROM cur INTO @Articolo,@Modalità,@Percentuale,@Tolleranza,@Versione
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @Articolo= (SELECT Codice FROM Articolo WHERE Codice = @Articolo);
		IF (@Articolo IS NULL)
		BEGIN
			ROLLBACK TRANSACTION;
			RETURN;
		END		
		SET @Modalità = (SELECT Modalità.Codice FROM Modalità WHERE Codice = @Modalità);
		INSERT INTO Componente(FormulaIngredienti,Articolo,Modalità,Percentuale,Tolleranza) VALUES (@Codice,@Articolo,@Modalità,CAST(@Percentuale as float),CAST(@Tolleranza as float));
		FETCH NEXT FROM cur INTO @Articolo,@Modalità,@Percentuale,@Tolleranza,@Versione
	END

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();

    -- Use RAISERROR inside the CATCH block to return error
    -- information about the original error that caused
    -- execution to jump to the CATCH block.
    RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
               );
	IF (@@TRANCOUNT > 0)
		ROLLBACK TRANSACTION;
END CATCH
END
' 
END
GO

/****** Object:  StoredProcedure [dbo].[ImportaFormule]    Script Date: 10/26/2014 23:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImportaFormule]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaFormule] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE cur CURSOR LOCAL FOR SELECT TBFormula.Codice FROM TBFormula;
	DECLARE @Formula nvarchar(100);
	
	OPEN cur;
	FETCH NEXT FROM cur INTO @Formula;
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		EXEC ImportaFormula @Formula;
		FETCH NEXT FROM cur INTO @Formula;
	END
	CLOSE cur;
	DEALLOCATE cur;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaArticolo]    Script Date: 10/26/2014 23:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImportaArticolo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaArticolo] 
	-- Add the parameters for the stored procedure here
	@Codice nvarchar(100) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    DECLARE @ObjectType int;
    SET @ObjectType = (SELECT XPObjectType.OID FROM XPObjectType WHERE XPObjectType.TypeName = ''XFactoryNET.Module.BusinessObjects.Articolo'');
    IF (@ObjectType IS NULL) 
    BEGIN
		INSERT INTO XPObjectType (AssemblyName,TypeName) VALUES(''XFactoryNET.Module'',''XFactoryNET.Module.BusinessObjects.Articolo'')
		SET @ObjectType = @@IDENTITY;
    END

    DECLARE @Exists nvarchar(100);
    SET @Exists = (SELECT BaseArticolo.Codice FROM BaseArticolo WHERE BaseArticolo.Codice = @Codice);
    IF (@Exists IS NULL)
    BEGIN
	    INSERT INTO BaseArticolo (Codice,Descrizione,ObjectType) SELECT Codice,Descrizione,@ObjectType FROM TBArticolo WHERE (TBArticolo.Codice = @Codice);
		INSERT INTO Articolo (Codice,Note,TipoMateriale) SELECT Codice,Note,0 FROM TBArticolo WHERE TBArticolo.Codice = @Codice;
	END	
	ELSE
	BEGIN
	    UPDATE BaseArticolo SET Descrizione=TBArticolo.Descrizione FROM BaseArticolo INNER JOIN TBArticolo ON TBArticolo.Codice = @Codice WHERE BaseArticolo.Codice = @Codice;
	    UPDATE Articolo SET Note=TBArticolo.Note,TipoMateriale=0 FROM Articolo INNER JOIN TBArticolo ON TBArticolo.Codice = @Codice WHERE Articolo.Codice = @Codice;
	END
	

	DECLARE @Formula nvarchar(100);
	DECLARE @TipoFormula char;
	DECLARE @Oid int;
	
	DECLARE curs CURSOR LOCAL FOR (SELECT T1.Formula,T2.TipoFormula FROM TBFormuleArticoli T1 INNER JOIN TBFormula T2 ON Formula=Codice WHERE T1.Formula<>''999999'' AND  T1.Articolo = @Codice);
	
	OPEN curs;
	
	FETCH NEXT FROM curs INTO @Formula,@TipoFormula
	WHILE @@FETCH_STATUS = 0
	BEGIN
		EXEC dbo.ImportaFormula @Formula;
		SET @Formula = (SELECT Formula.Codice FROM Formula WHERE Codice=@Formula);
		IF (@Formula IS NOT NULL)
		BEGIN
			SET @Oid = (SELECT oid FROM FormulaFormule_ArticoloArticoli as F WHERE F.Articoli = @Codice AND F.Formule = @Formula);
			IF (@Oid IS NULL)
				INSERT INTO FormulaFormule_ArticoloArticoli (Articoli,Formule) VALUES(@Codice,@Formula);
			IF (@TipoFormula = ''P'')
				UPDATE Articolo SET TipoMateriale = 2 WHERE Codice = @Codice	--Prodotto Finito
		END
		FETCH NEXT FROM curs INTO @Formula, @TipoFormula
	END
	CLOSE curs;
	DEALLOCATE curs;
	
		
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaArticoli]    Script Date: 10/26/2014 23:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImportaArticoli]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaArticoli] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE cur CURSOR LOCAL FOR SELECT TBArticolo.Codice FROM TBArticolo;
	DECLARE @Articolo nvarchar(100);
	
	OPEN cur;
	FETCH NEXT FROM cur INTO @Articolo;
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		EXEC ImportaArticolo @Articolo;
		FETCH NEXT FROM cur INTO @Articolo;
	END
	CLOSE cur;
	DEALLOCATE cur;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[ImportaTutto]    Script Date: 10/26/2014 23:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImportaTutto]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		ISISoft
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[ImportaTutto] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	EXEC dbo.ImportaTabelle;
	EXEC dbo.ImportaArticoli;
	EXEC dbo.ImportaFormule;
	EXEC dbo.ImportaAllegati;
END
' 
END
GO
