<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISvcOdl" />
                <binding name="BasicHttpBinding_ISvcPesa" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4947/SvcOdl.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISvcOdl" contract="Services.Odl.ISvcOdl"
                name="BasicHttpBinding_ISvcOdl" />
            <endpoint address="http://localhost:4947/SvcPesa.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISvcPesa" contract="Services.Pesa.ISvcPesa"
                name="BasicHttpBinding_ISvcPesa" />
        </client>
    </system.serviceModel>
</configuration>
