/*
   lunedì 15 settembre 201422:48:42
   Utente: 
   Server: .\sqlexpress
   Database: XFactoryNET
   Applicazione: 
*/

/* Per evitare potenziali problemi di perdita di dati, si consiglia di esaminare dettagliatamente lo script prima di eseguirlo al di fuori del contesto di Progettazione database.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_FormulaIngredienti
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_FormulaProdotti
GO
ALTER TABLE dbo.Formula SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_Lotto
GO
ALTER TABLE dbo.Lotto SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_ApparatoLavorazione
GO
ALTER TABLE dbo.Apparato SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_AreaStoccaggio
GO
ALTER TABLE dbo.AreaStoccaggio SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_Modalità
GO
ALTER TABLE dbo.Modalità SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_Confezione
GO
ALTER TABLE dbo.Confezione SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_Articolo
GO
ALTER TABLE dbo.Articolo SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_OdlProdotti
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_OdlIngredientiTeorici
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_OdlProdottiTeorici
GO
ALTER TABLE dbo.Componente
	DROP CONSTRAINT FK_Componente_OdlIngredienti
GO
ALTER TABLE dbo.Odl SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Componente
	(
	OID int NOT NULL,
	Percentuale float(53) NULL,
	Tolleranza float(53) NULL,
	TolleranzaPerc float(53) NULL,
	Articolo nvarchar(12) NULL,
	Confezione nvarchar(100) NULL,
	Modalità nvarchar(100) NULL,
	AreaStoccaggio nvarchar(12) NULL,
	ApparatoLavorazione nvarchar(12) NULL,
	Stato int NULL,
	Qtà float(53) NULL,
	QtàTeo float(53) NULL,
	NrComp int NULL,
	NrLotto int NULL,
	Lotto int NULL,
	FormulaIngredienti nvarchar(12) NULL,
	FormulaProdotti nvarchar(12) NULL,
	OdlIngredienti int NULL,
	OdlProdotti int NULL,
	OdlIngredientiTeorici int NULL,
	OdlProdottiTeorici int NULL,
	OptimisticLockField int NULL,
	id smallint NOT NULL IDENTITY (1, 1)
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Componente SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_Componente OFF
GO
IF EXISTS(SELECT * FROM dbo.Componente)
	 EXEC('INSERT INTO dbo.Tmp_Componente (OID, Percentuale, Tolleranza, TolleranzaPerc, Articolo, Confezione, Modalità, AreaStoccaggio, ApparatoLavorazione, Stato, Qtà, QtàTeo, NrComp, NrLotto, Lotto, FormulaIngredienti, FormulaProdotti, OdlIngredienti, OdlProdotti, OdlIngredientiTeorici, OdlProdottiTeorici, OptimisticLockField)
		SELECT OID, Percentuale, Tolleranza, TolleranzaPerc, Articolo, Confezione, Modalità, AreaStoccaggio, ApparatoLavorazione, Stato, Qtà, QtàTeo, NrComp, NrLotto, Lotto, FormulaIngredienti, FormulaProdotti, OdlIngredienti, OdlProdotti, OdlIngredientiTeorici, OdlProdottiTeorici, OptimisticLockField FROM dbo.Componente WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.Componente
GO
EXECUTE sp_rename N'dbo.Tmp_Componente', N'Componente', 'OBJECT' 
GO
ALTER TABLE dbo.Componente ADD CONSTRAINT
	PK_Componente PRIMARY KEY CLUSTERED 
	(
	OID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX iArticolo_Componente ON dbo.Componente
	(
	Articolo
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iConfezione_Componente ON dbo.Componente
	(
	Confezione
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iModalità_Componente ON dbo.Componente
	(
	Modalità
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iAreaStoccaggio_Componente ON dbo.Componente
	(
	AreaStoccaggio
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iApparatoLavorazione_Componente ON dbo.Componente
	(
	ApparatoLavorazione
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iLotto_Componente ON dbo.Componente
	(
	Lotto
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iFormulaIngredienti_Componente ON dbo.Componente
	(
	FormulaIngredienti
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iFormulaProdotti_Componente ON dbo.Componente
	(
	FormulaProdotti
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iOdlIngredienti_Componente ON dbo.Componente
	(
	OdlIngredienti
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iOdlProdotti_Componente ON dbo.Componente
	(
	OdlProdotti
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iOdlIngredientiTeorici_Componente ON dbo.Componente
	(
	OdlIngredientiTeorici
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX iOdlProdottiTeorici_Componente ON dbo.Componente
	(
	OdlProdottiTeorici
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_OdlProdotti FOREIGN KEY
	(
	OdlProdotti
	) REFERENCES dbo.Odl
	(
	OID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_OdlIngredientiTeorici FOREIGN KEY
	(
	OdlIngredientiTeorici
	) REFERENCES dbo.Odl
	(
	OID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_OdlProdottiTeorici FOREIGN KEY
	(
	OdlProdottiTeorici
	) REFERENCES dbo.Odl
	(
	OID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_Articolo FOREIGN KEY
	(
	Articolo
	) REFERENCES dbo.Articolo
	(
	Codice
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_Confezione FOREIGN KEY
	(
	Confezione
	) REFERENCES dbo.Confezione
	(
	Codice
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_Modalità FOREIGN KEY
	(
	Modalità
	) REFERENCES dbo.Modalità
	(
	Codice
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_AreaStoccaggio FOREIGN KEY
	(
	AreaStoccaggio
	) REFERENCES dbo.AreaStoccaggio
	(
	Codice
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_ApparatoLavorazione FOREIGN KEY
	(
	ApparatoLavorazione
	) REFERENCES dbo.Apparato
	(
	Codice
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_Lotto FOREIGN KEY
	(
	Lotto
	) REFERENCES dbo.Lotto
	(
	OID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_FormulaIngredienti FOREIGN KEY
	(
	FormulaIngredienti
	) REFERENCES dbo.Formula
	(
	Codice
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_FormulaProdotti FOREIGN KEY
	(
	FormulaProdotti
	) REFERENCES dbo.Formula
	(
	Codice
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.Componente WITH NOCHECK ADD CONSTRAINT
	FK_Componente_OdlIngredienti FOREIGN KEY
	(
	OdlIngredienti
	) REFERENCES dbo.Odl
	(
	OID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
COMMIT
