<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <appSettings>
       <add key="ConnectionString" value="Data Source=SERVER-PROD-LON\SQLEXPRESS;Initial Catalog=XFactoryNET;Persist Security Info=True;User ID=XFactoryUser;Password=XFactory" />
       <!--<add key="ConnectionString" value="Data Source=192.168.1.5\SQLEXPRESS;Initial Catalog=XFactoryNET;User ID=sa;Password=isigi000" />-->
       <add key="PortName" value="COM1"/>
       <add key="BaudRate" value="4800"/>
       <add key="DataBits" value="7"/>
       <add key="StopBits" value="One"/>
       <add key="Parity" value="Even"/>
  </appSettings>
</configuration>
