<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XFactoryNET.Custom.Panzoo.AggMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XFactoryNET.Custom.Panzoo.AggMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="XFactoryNET.Custom.Panzoo.AggMan.Properties.Settings.ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=XFactoryNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <XFactoryNET.Custom.Panzoo.AggMan.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>Even</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>Two</value>
            </setting>
        </XFactoryNET.Custom.Panzoo.AggMan.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <XFactoryNET.Custom.Panzoo.AggMan.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Database" serializeAs="String">
                <value/>
            </setting>
            <setting name="DontAsk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLAuth" serializeAs="String">
                <value>True</value>
            </setting>
        </XFactoryNET.Custom.Panzoo.AggMan.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
