<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XFactoryNET"/>-->
    <add name="ConnectionString" connectionString="User ID=XFactoryUser;Password=XFactory;Pooling=false;Data Source=SERVER-PROD-LON\SQLEXPRESS;Initial Catalog=XFactoryNET" />
  </connectionStrings>
 <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="XFactoryNET.Custom.Panzoo.ServiceLibrary.SvcDosaggio">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          contract="XFactoryNET.Custom.Panzoo.ServiceLibrary.ISvcDosaggio">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8523/XFactoryNET/SvcDosaggio" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
