<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XFactoryNET.Custom.MM1.ServiceLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="XFactoryNET.Custom.MM1.ServiceLibrary.SvcDosaggio">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          contract="XFactoryNET.Custom.MM1.ServiceLibrary.ISvcDosaggio">
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8523/XFactoryNET/SvcDosaggio" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>


  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <XFactoryNET.Custom.MM1.ServiceLibrary.Properties.Settings>
      <setting name="OPCServerProgID" serializeAs="String">
        <value>ProScada.SiemensIE</value>
      </setting>
      <setting name="OPCItemStringFormat" serializeAs="String">
        <value>{0}:DB{1},{2}</value>
      </setting>
      <setting name="OPCDeviceDos" serializeAs="String">
        <value>CPU0</value>
      </setting>
    </XFactoryNET.Custom.MM1.ServiceLibrary.Properties.Settings>
  </applicationSettings>
</configuration>
